<section class="section section_dishes">

  <!-- Header -->
  <div class="container">
    <div class="row">
      <div class="col">

        <!-- Heading -->
        <h2 class="section__heading text-center">
          Featured dishes
        </h2>

        <!-- Subheading -->
        <p class="section__subheading text-center">
          Quibusdam in labore tempore quidem voluptatum ullam soluta! Maiores!
        </p>

      </div>
    </div>
  </div>

  <!-- Carousel -->
  <div class="section_dishes__carousel dots-disabled">
    <div class="section_dishes__carousel__item">

      <!-- Image -->
      <!-- <img src="assets/img/26.jpg" alt="..." class="section_dishes__carousel__item__img"> -->
      <%= image_tag "26", alt: "alttext", class: "section_dishes__carousel__item__img" %>

      <!-- Body -->
      <div class="section_dishes__carousel__item__body">
        <h5 class="section_dishes__carousel__item__body__heading mb-0">
          Lorem ipsum dolor sit amet <span>$25</span>
        </h5>
      </div>

    </div>
    <div class="section_dishes__carousel__item">

      <!-- Image -->
      <!-- <img src="assets/img/27.jpg" alt="..." class="section_dishes__carousel__item__img"> -->
      <%= image_tag "27", alt: "alttext", class: "section_dishes__carousel__item__img" %>

      <!-- Body -->
      <div class="section_dishes__carousel__item__body">
        <h5 class="section_dishes__carousel__item__body__heading mb-0">
          Lorem ipsum dolor sit amet <span>$35</span>
        </h5>
      </div>

    </div>
    <div class="section_dishes__carousel__item">

      <!-- Image -->
      <!-- <img src="assets/img/28.jpg" alt="..." class="section_dishes__carousel__item__img"> -->
      <%= image_tag "28", alt: "alttext", class: "section_dishes__carousel__item__img" %>

      <!-- Body -->
      <div class="section_dishes__carousel__item__body">
        <h5 class="section_dishes__carousel__item__body__heading mb-0">
          Lorem ipsum dolor sit amet <span>$18</span>
        </h5>
      </div>

    </div>
    <div class="section_dishes__carousel__item">

      <!-- Image -->
      <!-- <img src="assets/img/29.jpg" alt="..." class="section_dishes__carousel__item__img"> -->
      <%= image_tag "29", alt: "alttext", class: "section_dishes__carousel__item__img" %>

      <!-- Body -->
      <div class="section_dishes__carousel__item__body">
        <h5 class="section_dishes__carousel__item__body__heading mb-0">
          Lorem ipsum dolor sit amet <span>$32</span>
        </h5>
      </div>

    </div>
    <div class="section_dishes__carousel__item">

      <!-- Image -->
      <!-- <img src="assets/img/30.jpg" alt="..." class="section_dishes__carousel__item__img"> -->
      <%= image_tag "30", alt: "alttext", class: "section_dishes__carousel__item__img" %>

      <!-- Body -->
      <div class="section_dishes__carousel__item__body">
        <h5 class="section_dishes__carousel__item__body__heading mb-0">
          Lorem ipsum dolor sit amet <span>$40</span>
        </h5>
      </div>

    </div>
    <div class="section_dishes__carousel__item">

      <!-- Image -->
      <!-- <img src="assets/img/31.jpg" alt="..." class="section_dishes__carousel__item__img"> -->
      <%= image_tag "31", alt: "alttext", class: "section_dishes__carousel__item__img" %>

      <!-- Body -->
      <div class="section_dishes__carousel__item__body">
        <h5 class="section_dishes__carousel__item__body__heading mb-0">
          Lorem ipsum dolor sit amet <span>$27</span>
        </h5>
      </div>

    </div>
  </div> <!-- / .section_dishes__carousel -->

</section>
