<section class="section section_gallery">
  <div class="container">
    <div class="row">
      <div class="col">

        <!-- Heading -->
        <h2 class="section__heading text-center">
          Our gallery
        </h2>

        <!-- Subheading -->
        <p class="section__subheading text-center">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </p>

      </div>
    </div> <!-- / .row -->
    <div class="row section_gallery__grid">
      <div class="col-6 col-sm-6 col-md-4 section_gallery__grid__item">

        <a href="assets/img/11.jpg" data-lightbox="gallery">
          <!-- <img src="assets/img/11.jpg" class="img-fluid" alt="..."> -->
          <%= image_tag "11", alt: "alttext", class: "img-fluid" %>
        </a>

      </div>
      <div class="col-6 col-sm-6 col-md-4 section_gallery__grid__item">

        <a href="assets/img/16.jpg" data-lightbox="gallery">
          <!-- <img src="assets/img/16.jpg" class="img-fluid" alt="..."> -->
          <%= image_tag "16", alt: "alttext", class: "img-fluid" %>
        </a>

      </div>
      <div class="col-6 col-sm-6 col-md-4 section_gallery__grid__item">

        <a href="assets/img/13.jpg" data-lightbox="gallery">
          <!-- <img src="assets/img/13.jpg" class="img-fluid" alt="..."> -->
          <%= image_tag "13", alt: "alttext", class: "img-fluid" %>
        </a>

      </div>
      <div class="col-6 col-sm-6 col-md-4 section_gallery__grid__item">

        <a href="assets/img/15.jpg" data-lightbox="gallery">
          <!-- <img src="assets/img/15.jpg" class="img-fluid" alt="..."> -->
          <%= image_tag "15", alt: "alttext", class: "img-fluid" %>
        </a>

      </div>
      <div class="col-6 col-sm-6 col-md-4 section_gallery__grid__item">

        <a href="assets/img/14.jpg" data-lightbox="gallery">
          <!-- <img src="assets/img/14.jpg" class="img-fluid" alt="..."> -->
          <%= image_tag "14", alt: "alttext", class: "img-fluid" %>
        </a>

      </div>
      <div class="col-6 col-sm-6 col-md-4 section_gallery__grid__item">

        <a href="assets/img/18.jpg" data-lightbox="gallery">
          <!-- <img src="assets/img/18.jpg" class="img-fluid" alt="..."> -->
          <%= image_tag "18", alt: "alttext", class: "img-fluid" %>
        </a>

      </div>
      <div class="col-6 col-sm-6 col-md-4 section_gallery__grid__item">

        <a href="assets/img/17.jpg" data-lightbox="gallery">
          <!-- <img src="assets/img/17.jpg" class="img-fluid" alt="..."> -->
          <%= image_tag "17", alt: "alttext", class: "img-fluid" %>
        </a>

      </div>
      <div class="col-6 col-sm-6 col-md-4 section_gallery__grid__item">

        <a href="assets/img/12.jpg" data-lightbox="gallery">
          <!-- <img src="assets/img/12.jpg" class="img-fluid" alt="..."> -->
          <%= image_tag "12", alt: "alttext", class: "img-fluid" %>
        </a>

      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>
